.web {
    display: flex;
    flex: 1;
    align-items: center;
}

.web-option {
    font-size: 32px;
    margin-right: 16px;
    font-weight: 500;
}

.web-option a {
    text-decoration: none;
    color: 	#C6E0FF;
    display: flex;
    align-items: center;
    font-family: "Libre Barcode 39 Text", cursive;
}

.option-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web-option:last-child {
    margin-right: 0px;
}