.contact {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Tourney', cursive;
    color: #315659;
}

.contact-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
}

.contact-left {
    max-width: 60%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.download {
    background-color: #BCAB79;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.download:hover {
    background-color: #2978A0;
}

.download a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

@media only screen and (max-width: 720px) {
    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left {
        max-width: 100%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    .download {
        font-size: 16px;
    }
}